<div class="box">
  <p class="is-size-2 has-text-centered mb-3">Our inspiration story</p>
  <p class="has-text-centered block">So many ideas, so many places to put them.  Iphone notes, Windows notepad, self-sending emails, you name it, we've tried them all.  Until an idea was born, an idea to organzie other ideas.  A centeralized place for all your ideas, lets call them "projects".  Now each idea, or each "project" will have many sub-ideas or "notes".  Each "note" can be part of a todo list, or they can coexist together on a board.  Now imagine a dashboard to keep track of all your "projects", and you can instantly launch each "project" and its respective "notes" to a todo panel or a whiteboard. <%= image_tag('smile.svg', style:'height:15px;width:15px;') %></p>
  <p class="has-text-centered is-italic block">~ Now there's the tool that I surely can't live without ~</p>
</div>

  <p class="is-size-3 has-text-centered mb-3">Documentation</p>
  <div class="tabs is-centered is-toggle is-toggle-rounded">
    <ul>
      <li class="is-active"><a>Dashboard</a></li>
      <li><a>Todo</a></li>
      <li><a>Whiteboard</a></li>
    </ul>
  </div>

