<h1>Page#home</h1>
<div class="box">
<p>Find me in app/views/page/home.html.erb</p>
</div>

<% if user_signed_in? %>
  <p>
    <%= "Hello world, #{current_user.email}!" %>
  </p>
  <p>
    <%= link_to 'Sign Out!', destroy_user_session_path %>
  </p>
<% else %>
  <%= link_to 'Sign Up!', new_user_registration_path %>
  <%= link_to 'Sign In!', new_user_session_path %>
<% end %>
<div id='app'></div>
<div id='app2'></div>

<%# NOTES: %> 
<%# Content: %> 
<%#   One big hero %>
<%#     Tired of: %> 
<%#       - loose note papers %>
<%#       - cant manage/maintain big projects %>
<%#       - places too unorganized %>

<%#     Introducing %>
<%#       - notebuddy %>
<%#         - todo list %>
<%#         - plus %>
<%#         - whiteboard %> 
<%#         - save for each project %>
