<h1>Page#home</h1>
<div class="box">
<p>Find me in app/views/page/home.html.erb</p>
</div>

<% if user_signed_in? %>
  <p>
    <%= "Hello world, #{current_user.email}!" %>
  </p>
<% else %>
  <p>all the cool people sign in, you're not that cool...</p>
<% end %>

<%# NOTES: %> 
<%# Content: %> 
<%#   One big hero %>
<%#     Tired of: %> 
<%#       - loose note papers %>
<%#       - cant manage/maintain big projects %>
<%#       - places too unorganized %>

<%#     Introducing %>
<%#       - notebuddy %>
<%#         - todo list %>
<%#         - plus %>
<%#         - whiteboard %> 
<%#         - save for each project %>
